body {
  padding: 10;
  margin: 10;
  background: #white;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/** Header styles **/
.header {
  background-image: url(https://lh3.googleusercontent.com/L0nSeHidzN3O5ks2YQSYYPj08r5QrXg6mEqKXqmsM6hPfMCML32xTRLYY3BByE9gNi5YK2BXp0FlgVklZu3QLAF_5uHgXCngRM4kpHTrycRX6A3M44_i9geJrrPwb6zPq_E1wJqfkGKOgFFnuEbQstR5IkPD7QMCeq7vPYcbZtF52OGNH7FOXzo0rSnhImidg52fV-Njpb-gKl1N7maQLXHq8x6LKU9yOmpIY9JhWx3AbCJgnldx6w0b8QMokoZg8X7-nH19fuXHyuZIsV-BzKdXOyKBMnitW8F2m1N2a_YkqteQUNZR28PdlMFeqje-n_ZYOCoX0UbPI7ekesYTXrtj8OVx_9BAvwDWKv5up_EVuYEm3ODhJdjICZEqjBCAtfl3whWNjx8eqhVB-KTzjOqjZgIYB7xBG_nOgnMJW68WFiDtXed-0v-gwgaRJhl5C6lZTaVZYgpPkP94cNuAzp8UIhvL--L6rJMIjeMeZ0R1JI2doLuZCQVnjObFIBlqxXQKCqO1zitz2d96vnrjzAxu_cpBTI-wZUwWkHypYwFkDL13oGyQDWSk6UCZaObOteEdV2s309-vDOpTx79D4ZuajXsCHVQOs_AXAjAtAlaQRvcFwRSlKyqdU516yV_x8wMP1GeFVEiQ6JOb6QJxnwbA2VU2YA=s640-no);
  height: 675px;
  background-position: center center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #EFF2E2;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: 282E33);
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: rgb(8, 8, 8);
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: rgb(5, 5, 5);
  text-align: left;
}

/* Roast types */
.green {
  background-color: rgb(187, 187, 187);

}

.light {
  background-color: rgb(231, 198, 214);
}

.city {
  background-color: rgb(228, 191, 166);
}

.vienna {
  background-color: rgb(75, 79, 110);
}

.italian {
  background-color: rgb(252, 248, 248);
}

/* Typography */
h1 {
  color: rgb(94, 102, 129);
  font-family: 'Italiana', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
}

h2 {
  color: #E4BB97;
  font-family: 'Italiana', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #41292C;
  font-family: 'Italiana', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

h4 {
  font-family: 'Italiana', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Italiana', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #444444;
  line-height: 32px;
  font-family: 'Italiana', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #214E34;
  font-family: 'Italiana', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

  
